<!DOCTYPE html>

<html>
  <head>
    <title>Treatment Row List</title>
  </head>
<!-- display treatment rows start -->
  <h1 class="display-4">Treatment Rows</h1>
  <body>
    <div class="mb-4">
      <% if(treatmentRow.length > 0) { %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Project Name</th>
              <th scope="col">Rainfall Station</th>
              <th scope="col">Treatment Type</th>
              <th scope="col">Treatment Size</th>
              <th scope="col">Impervious Area Type</th>
              <th scope="col">Impervious Area Name</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<treatmentRow.length;i++) { %>
              <tr scope="row">
                <td><%= treatmentRow[i].id%></td>
                <td><%= treatmentRow[i].treatmentRowProject%></td>
                <td><%= treatmentRow[i].rainfallStation.location%></td>
                <td><%= treatmentRow[i].treatment.treatmentType%></td>
                <td><%= treatmentRow[i].treatment.treatmentSize%></td>
                <td><%= treatmentRow[i].imperviousArea.areaName%></td>
                <td><%= treatmentRow[i].imperviousArea.areaType%></td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <% } else { %>
            <div>No data found.</div>
            <% } %>
          </div>
<!-- display treatment rows end -->
<!-- enter new data form start -->
    <div>
      <h2 class="display-4">Add Treatment Row</h2>
      <form method="post" action="/treatmentrow/create" class="mb-4">
      <div class="form-group">
        <label for="projectname">Project Name</label>
        <input type="text" name="projectname" class="form-control">
      </div>
      <div class="form-group">
        <label for="rainfallstation">Rainfall Station</label>
        <input type="text" name="rainfallstation" class="form-control">
      </div>
      <div class="form-group">
        <label for="treatmenttype">Treatment Type</label>
        <input type="text" name="treatmenttype" class="form-control">
      </div>
      <div class="form-group">
        <label for="treatmentsize">Treatment Size</label>
        <input type="number" name="treatmentsize" class="form-control">
      </div>
      <div class="form-group">
        <label for="imperviousareaname">Impervious Area Name</label>
        <input type="text" name="imperviousareaname" class="form-control">
      </div>
      <div class="form-group">
        <label for="imperviousareatype">Impervious Area Type</label>
        <input type="text" name="imperviousareatype" class="form-control">
      </div>
      <input type="submit" value="submit" class="btn btn-primary">
      </form>
    </div>
<!-- enter new data form end -->
<!-- Upload file form start -->
	<div class="mb-4">
				<h2 class="display-4">Upload CSV</h2>
        <form action="/treatmentrow/upload" method="post" enctype="multipart/form-data">
          <label>(optional) Include additional metadata</label>
          <input type="text" name="foo" placeholder="some other metadata"/>
          <br/>
          <label>Please upload your file:</label>
          <input type="file" name="uploadfile"/>
          <br/>
          <input class="btn btn-primary" type="submit"/>
      </form>
		</div >
<!-- Upload file form end -->
  </body>
</html>
<!-- enctype="multipart/form-data" -->